src/main/mule/mysql-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0cdc7030-e619-437f-b0ea-dc6c13849220" >
		<db:my-sql-connection host="64.227.37.97" port="3306" user="njclabs" password="training" database="nrs" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="8241bb14-abc5-4bde-8105-940eedfa5f5a" file="properties.yaml" />
	<flow name="mysql-demoFlow" doc:id="71980c31-7b15-4f0c-ba6d-042f9da6a42f" >
		<scheduler doc:name="Scheduler" doc:id="93e21ae3-62c9-48ab-8229-679ae3800e10" >
			<scheduling-strategy >
				<fixed-frequency frequency="20000"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="943a555a-8dd1-413a-a56b-2484456750b8" config-ref="Database_Config">
			<db:sql ><![CDATA[${sql.query}]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="76610f7c-271c-4c85-a152-38088b916018" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8cad369e-d64e-4613-9019-e9e07fa151e5" message="#[payload]"/>
	</flow>
</mule>
